@import url(../css/variables.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap");


#header-placeholder header {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  width: 90%;
  margin: auto; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: none;
  width: 97%;
  margin: auto;
}

header .header-logo-link-wrap  nav a {
    margin-left: 20px;
    text-decoration: none;
    color: var(nourish-navy);
}

.header-logo-link-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cta-buttons {
  display: flex;
}

.cta-buttons :first-child {
  width: 100px;
  text-align: center;
  border: 1px solid var(--box-jump-blue);
  color: var(--box-jump-blue);
}

header .cta-buttons a.signup{
  width: 100px;
  text-align: center;
  background-color: var(--box-jump-blue);
  color: var(--white);
}

.user-links ul {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.button-links-wraps {
  display: flex;
  align-items: center;
  gap: 10px;
}

.material-symbols-outlined {
  color: var(noursish-navy);
}